<nz-tabset>
  <nz-tab nzTitle="Отсутствуют сегодня">
    <app-widget #vacations_today [widgetDataSource]="'vacations_today'">
      <app-table *ngIf="vacations_today.ready"
                 [tableView]="vacations_today['data']['view']"
                 [tableData]="vacations_today['data']['data']"
      >
      </app-table>      
    </app-widget>
  </nz-tab>
  
  <nz-tab nzTitle="Запланированные на квартал">
    <app-widget #vacations [widgetDataSource]="'vacations'">
      <app-table *ngIf="vacations.ready"
                 [tableView]="vacations['data']['view']"
                 [tableData]="vacations['data']['data']"
      >
      </app-table>
    </app-widget>
  </nz-tab>

  <nz-tab nzTitle="Незапланированые">
    <app-widget #vacations_non_planned [widgetDataSource]="'vacations_non_planned'">
      <app-table *ngIf="vacations_non_planned.ready"
                 [tableView]="vacations_non_planned['data']['view']"
                 [tableData]="vacations_non_planned['data']['data']"
      >
      </app-table>
    </app-widget>
  </nz-tab>
</nz-tabset>